.main-home__grid {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-areas: "sidebar content";
    height: 100vh;
}

.main-home__sidebar {
    /* background: #101113; */
    grid-area: sidebar;
    box-shadow: var(--shadow);
    z-index: 8000;
}

.main-home__sidebar h2 {
    margin: 0;
    letter-spacing: 3px;
    font-weight: 500;
}

.main-home__content {
    /* background: #101113; */
    grid-area: content;
    display: grid;
    grid-template-rows: 70px .5fr 1fr auto;
    /* color: white; */
    height: 100vh;
    z-index: 5000;
}

.main-home__shadow {
    z-index: 8000;
}

.main-home__items_container {
    padding: 20px;
}

.main-home__search_grid {
    padding: 15px;
    z-index: 8000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--filer);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    position: sticky;
    top: 0;
}

.main-home__top_content {
    /* background: slateblue; */
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    z-index: 7000;
}

.main-home__bottom {
    /* background: orange; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "color1 color2" "color1 color2";
    padding: 20px;
    padding-bottom: 30px;
    grid-gap: 30px;
    z-index: 7000;
}

.banner {
    overflow: hidden;
}

.banner img {
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.main-home__search_bar-container {
    width: 30%;
    min-width: 220px;
    background: var(--backgroud-grey-white);
    border-radius: 7px;
    /* color: rgba(0, 0, 0, 0.507); */
    font-weight: bold;
    font-size: small;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100%;
    /* box-shadow: 0px 0px 40px rgba(22, 22, 22, 0.219);
    backdrop-filter: saturate(120%) blur(40px); */
}

.main-home__search_bar-container img {
    width: 25px;
}

.main-home__search_input {
    width: calc(100% - 60px);
    border-radius: 15px;
    border: 0;
    outline: none;
    margin-left: 10px;
    background: var(--backgroud-grey-white);
    color: var(--text-color-search);
    font-weight: 600;
}

.main-home__search_input::placeholder {
    color: var(--text-color-search);
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.main-home__top_item {
    height: 100%;
    cursor: pointer;
}

.main-home__top_item-img {
    height: 85%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
}

.main-home__bottom_item-img {
    height: 100%;
}

.main-home__bottom_item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-home__top_item-img img {
    width: 100%;
    height: 100%;
    transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
    object-fit: cover;
}

.main-home__top_item-img:hover img {
    transform: scale(1.3);
}

.main-home__top_item-text {
    height: 15%;
    min-height: 50px;
    display: flex;
    align-items: center;
}

.main-home__bottom_item-1 {
    grid-area: color1;
    background: #767884;
    height: 100%;
}

.main-home__bottom_item-2 {
    grid-area: color2;
    background: #767884;
    height: 100%;
}

.color3 {
    grid-area: color3;
    background: #767884;
}

.main-home__items_container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    grid-gap: 2em;
    justify-content: space-between;
}

.main-home__items_container-game {
    text-decoration: none;
    color: var(--text-color);
}

.main-home__items_container-game_img {
    width: 230px;
    height: 300px;
}

.main-home__items_container-game_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-home__items_container-game_title {
    font-weight: 500;
    margin-bottom: 0;
}

.main-home__items_container-game_img-image:hover {
    filter: opacity(.5);
    cursor: pointer;
}

.main-home__items_container-game_price {
    margin-top: 0;
    font-size: 20px;
}

@media (max-width: 650px) {
    .main-home__grid {
        grid-template-columns: 1fr;
        grid-template-rows: 70px 1fr;
        grid-template-areas: "sidebar" "content";
        height: 100vh;
    }
    .main-home__top_content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .main-home__bottom {
        display: none;
    }
    .main-home__content {
        grid-template-rows: 70px .5fr;
        height: auto;
    }
    .main-home__search_bar-container {
        width: 85%;
    }
    .main-home__items_container-grid {
        justify-content: center;
    }
    .main-home__sidebar {
        z-index: 9000;
    }
}