.sidebarS {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-bottom: 30px;
}

.sidebar h2 {
    margin: 0;
    letter-spacing: 3px;
    font-weight: 500;
}

.options {
    padding: 10px;
    padding-top: 30px;
}

.selected.link {
    color: #feb100;
}

.options ul {
    padding: 0;
}

.options img {
    margin-right: 10px;
}

.options li {
    list-style: none;
    margin-bottom: 35px;
    display: flex;
    color: #767884;
}

.link {
    text-decoration: none;
    color: #767884;
    font-weight: 500;
    margin: 0;
    outline: none;
}

.optionsb {
    padding: 20px;
}

.optionsb ul {
    padding: 0;
}

.optionsb img {
    margin-right: 10px;
}

.optionsb li {
    list-style: none;
    display: flex;
    color: #767884;
}

.optionsb p {
    margin: 0;
    font-weight: 500;
}

.userItem p {
    margin: 0;
}

.userItem {
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 14px;
    padding: 10px;
    color: var(--text-color);
    background: var(--backgroud-grey);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userItem img {
    width: 30px;
    border-radius: 5px;
    margin-right: 15px;
}